.App {
  text-align: center;
}

h1{
  padding-top: 20px;
  padding-bottom: 0px;
}

.mapDisplay{
  height: 600px;
  margin: auto;
}

.fa{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fa-arrow-down{
  color: red
}

form{
  padding-top: 5px;
  width: 80%;
  margin: auto;
}

.card{
  width: 97%;
  margin: auto;
}