.App {
  text-align: center;
}

.mapDisplay{
  width: 800px;
  height: 600px;
  margin: auto;
}

.fa{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fa-arrow-down{
  color: red
}